h1 {
    font-family: Verdana, Tahoma, sans-serif, serif;
    margin-top: 40px;
}

body {
    font-family: Verdana, Tahoma, sans-serif, serif;
    width: 45%;
    margin: auto;
}

header {
    border-bottom: solid 6px blue;
}

.img-users {
    vertical-align: top;
    padding-left: 580px;
    padding-bottom: 0;
    margin-left: 150px;
}

fieldset {
    border: solid 1px rgb(167, 167, 167);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 15px 15px 15px 15px;
    background-color: rgb(238, 238, 238);
    font-family: Verdana, Tahoma, sans-serif, serif;
    font-size: small;
}

input {
    margin: 6px 6px 0 6px;
}

label {
    padding: 0 0 0 5px;
}

.legenda {
    font-weight: 550;
}

#form-button {
    padding-top: 10px;
    padding-left: 18px;
}

footer {
    margin-top: 35px;
}

#out-link1 {
    padding-left: 18px;
}

#out-link2 {
    padding-left: 10px;
}